<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UpdateUser</title>
</head>
<body>

<form th:action="@{/users/save}" th:object="${updateUser}" method="post">
    <input type="hidden" th:field="*{id}">

    <label th:for="name">Имя</label>
    <input type="text" th:field="*{name}"><br>

    <label th:for="password">Пароль</label>
    <input th:type="text" th:field="*{password}"><br>

    <label th:for="role">Роль</label>
    <select th:field="*{role}">
        <option th:each="role : ${allRoles}"
                th:value="${role.id}"
                th:text="${role.role}"
<!--                th:selected="${role.id == updateUser.role.id}">-->
            Роль
        </option>
    </select><br>

    <button type="submit">Редактировать</button>

</form>

</body>
</html>